.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_img_pp {
    width: 30%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.header_img_pp img {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 1000vh;
}
.header_shop_name {
    width: 70%;
    height: 230px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.header_shop_name h2 {
    margin: 20px;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}
.content_overview {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.content_overview div {
    width: 120px;
    height: inherit;
    display: flex;
    justify-content: left;
}
.content_overview button {
    width: 120px;
    height: inherit;
    background: transparent;
    border: transparent;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px 0 5px;
}
.content_overview button:hover {
    background-color: #d9d9d9;
}
.content_product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.products_foods_ads {
    width: 100%;
    height: auto;
    flex-basis: 155px;
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 2px 1px #000;
}
.products_foods_ads:hover .products_foods_ads_image img {
    transform: scale(1.1);
}

.products_foods_ads_image {
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.products_foods_ads_image img {
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
.products_foods_ads_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    
}
.products_foods_ads_info h3{
    margin: 5px;
}
.products_foods_ads_info p{
    margin: 5px;
}
.products_foods_ads_info_funtion {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.products_foods_ads_info_funtion button {
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
    border-top: 1px solid #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.products_foods_ads_info_funtion button:hover {
    background-color: #000;
    color: #fff;
}
.products_foods_popup {
    position: fixed;
    width: 550px;
    background-color: #fff;
    right: -100%;
    top: 0;
    z-index: 3;
    display: none;
    flex-flow: column;
    transition: 0.5s ease-in-out;
    overflow: auto;
}
.products_foods_popup_bottom form {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}
.products_foods_popup_top {
    width: 10%;
    height: 50px;
    cursor: pointer;
}
.products_foods_popup_top p {
    font-size: 40px;
    margin: 0 0 0 15px;
}
.products_foods_popup_bottom_img {
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}
.products_foods_popup_bottom_img img {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.products_foods_popup_bottom_quantity_function {
    width: 100%;
    height: 130px;
    border-top: 2px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements1 {
    width: 30%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements2 {
    width: 70%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements1 button {
    width: 30px;
    height: 30px;
    border: 2px solid #d9d9d9;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
}
.products_foods_popup_bottom_quantity_function_elements1 button p {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    
}
.products_foods_popup_bottom_quantity_function_elements2 button {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    border-radius: 15px;
    background-color: #d9d9;
    cursor: pointer;
}
.products_foods_popup_bottom_quantity_function_elements2 button:hover {
    opacity: 0.8;
}
.hide_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #d9d9d9;
    display: none;
    opacity: 0.8;
}