.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 1px #000;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #eee;
}
.header_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar select {
    border: transparent;
    background: transparent;
    margin: 0 15px 0 0;
    cursor: pointer;
    color: #000;
    width: auto;
    height: auto;
}
.user_information {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_information div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_information p {
    margin: 10px;
}
.title {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    margin: 5px;
    font-size: 14px;
}
.search {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input  {
    width: 100%;
    height: 30px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background: transparent;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 50px 0 0 0;
}
.content_top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_top_reconds {
    width: 98%;
    height: auto;
    box-shadow: 2px 2px 4px 2px #000;
    margin: 20px 0 20px 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content_top_reconds_title {
    width: 100%;
    height: auto;
}
.content_top_reconds h2 {
    margin: 15px;
}

.content_top_reconds_shop {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: start;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
}
.shop {
    width: 100%;
    height: 90px;
    margin: 15px;
    flex-basis: 360px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.shop_logo {
    width: 70px;
    height: 70px;
    border-radius: 1000vh;
    border: 1px solid  #000;
    overflow: hidden;
}
.shop_logo img {
    width: 100%;
    height: 100%;
}
.content_bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.products_title {
    width: 100%;
    height: auto;
}
.products_title h2 {
    margin: 15px;
}
.products_foods {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.products_foods_ads {
    width: 100%;
    height: auto;
    flex-basis: 155px;
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 2px 1px #000;
}
.products_foods_ads:hover .products_foods_ads_image img {
    transform: scale(1.1);
}

.products_foods_ads_image {
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.products_foods_ads_image img {
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
.products_foods_ads_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    
}
.products_foods_ads_info h3{
    margin: 5px;
}
.products_foods_ads_info p{
    margin: 5px;
}
.products_foods_ads_info_funtion {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.products_foods_ads_info_funtion button {
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
    border-top: 1px solid #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.products_foods_ads_info_funtion button:hover {
    background-color: #000;
    color: #fff;
}

/* Overlay */
.overlay_1 {
    width: 30px;
    height: 30px;
    border-radius: 1000vh;
    background-color: #000;
    margin: 5px;
}
.overlay_burger {
    width: 30px;
    height: auto;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.overlay_burger span {
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 0 0 4px 0;
    border-radius: 20px;
}
.overlay {
    width: 100%;
    height: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.categories {
    width: 100%;
    height: auto;
    display: none;
    justify-content: left;
    align-items: center;
    transition: 1s ease-in-out;
    transform: translateX(20px);
    opacity: 0;
}
.categories_left {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
}
.categories_left h2 {
    margin: 15px;
}
.categories_overview {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.categories_overview h3 {
    margin: 0 0 0 10px;
}
.categories_center {
    width: 30%;
    height: 570px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.categories_center_hidden {
    width: 100%;
    height: 570px;
    display: none;
    justify-content: left;
    flex-flow: column;
    opacity: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
}
.categories_center_hidden h2 {
    margin: 15px;
}
.categories_center_hidden span {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.categories_center_hidden span:hover {
    background-color: #000;
    color: #fff;
}
.categories_center_hidden h4 {
    margin: 15px;
}
.about_me {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    overflow: hidden;
    transform: translateX(20px);
    opacity: 0;
}
.about_me_elements {
    width: 20%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about_me_elements h3 {
    margin: 10px;
}
.about_me_elements_img {
    width: 100%;
    height: 270px;
    background-size: cover;
}
.about_me_overlay_left {
    background-image: url("Icons/document.png");
}
.about_me_overlay_right {
    background-image: url("Icons/privacy-policy.png");
}
.about_me_elements:hover .about_me_overlay_left {
    background-image: url("Icons/document.gif");
}
.about_me_elements:hover .about_me_overlay_right {
    background-image: url("Icons/privacy-policy.gif");
}
.user_information_overlay {
    width: 120px;
    height: 0;
    position: fixed;
    background-color: #fff;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 2;
    border-bottom: 0px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.user_information_overlay form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_information_overlay button {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: transparent;
    background: transparent;
}
.user_information_overlay button:hover {
    background-color: #d9d9d9;
}
.burger_menu {
    width: 290px;
    height: auto;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    transition: 1s ease-in-out;
}
.burger_menu select {
    margin: 10px 0 10px 0;
    border: transparent;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}
.burger_menu_items {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}
.burger_menu select:hover .burger_menu_items {
    height: 540px;
}
.burger_menu_items span {
    width: 290px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    cursor: pointer;
    flex-flow: column;
}
.burger_menu_items h4 {
    margin: 5px;
}
.burger_menu_items_dropdown {
    width: 290px;
    height: 0;
    border-bottom: 1px solid #000;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}
.burger_menu_items span:hover .burger_menu_items_dropdown {
    height: 140px;
}

.burger_menu_items_dropdown span{
    background-color: #fefeff;
    border: 0;
    transition: 0.5s ease-in-out;
}
.burger_menu_items span:hover {
    background-color: #d9d9d9;
}
.burger_menu_items_2 {
    width: 290px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger_menu_items_2 span {
    width: 30%;
    height: 90px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
}
.burger_menu_items_2 span:hover {
    background-color: #000;
    color: #fff;
}
.burger_menu_items_2 h4 {
    font-size: 14px;
    text-align: center;
}
.buger_exit {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
.products_foods_popup {
    position: fixed;
    width: 550px;
    background-color: #fff;
    right: -100%;
    top: 0;
    z-index: 3;
    display: none;
    flex-flow: column;
    transition: 0.5s ease-in-out;
    overflow: auto;
}
.products_foods_popup_bottom form {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}
.products_foods_popup_top {
    width: 10%;
    height: 50px;
    cursor: pointer;
}
.products_foods_popup_top p {
    font-size: 40px;
    margin: 0 0 0 15px;
}
.products_foods_popup_bottom_img {
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}
.products_foods_popup_bottom_img img {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.products_foods_popup_bottom_quantity_function {
    width: 100%;
    height: 130px;
    border-top: 2px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements1 {
    width: 30%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements2 {
    width: 70%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_foods_popup_bottom_quantity_function_elements1 button {
    width: 30px;
    height: 30px;
    border: 2px solid #d9d9d9;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
}
.products_foods_popup_bottom_quantity_function_elements1 button p {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    
}
.products_foods_popup_bottom_quantity_function_elements2 button {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    border-radius: 15px;
    background-color: #d9d9;
    cursor: pointer;
}
.products_foods_popup_bottom_quantity_function_elements2 button:hover {
    opacity: 0.8;
}
.hide_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #d9d9d9;
    display: none;
    opacity: 0.8;
}
/* Responsive */
@media (max-width: 760px) {
    .header {
        justify-content: space-between;
    }
    .header_left {
        display: none;
        width: 0;
    }
    .header_right {
        width: 310px;
    }
    .title h2 {
        font-size: 12px;
    }
    .user_information {
        width: 100px;
    }
    .user_information p {
        margin: 0;
        font-size: 14px;
    }
    .overlay_1 {
        margin: 5px;
    }
    .overlay_burger {
        display: flex;
        width: 30px;
    }
    .search form {
        width: 350px;
    }
    .search input {
        margin: 0;
        width: 170px;
    }
    .products_foods_popup {
        width: 100%;
        position: fixed;
        margin: 0;
    }
    .products_foods_popup_bottom_img img {
        margin: 0;
    }
    .products_foods_popup_bottom_img h2 {
        font-size: 17px;
        margin: 10px;
    }
    
    .products_foods_popup_bottom_quantity_function_elements1 {
        width: 50%;
    }
}
