body {
    background-image: url('images/overlay_bg.jpg');
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header_left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 450px;
}
.header_left_img {
    width: 190px;
    height: 190px;
    border-radius: 1000vh;
    border: 2px solid #000;
    overflow: hidden;
    margin: 20px;
}
.header_left_img img {
    width: 100%;
    height: 100%;
}
.user_information {
    width: 80%;
    height: 540px;
    margin: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 20px;
}
.user_information h1 {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}
.user_information h3 {
    margin: 10px;
    text-align: center;
    font-size: 15px;
}
.user_information h5 {
    margin: 15px;
    text-align: center;
    
}
.user_information form {
    width: auto;
    height: auto;
    margin: 60px;
}
.user_information button {
    width: 120px;
    height: 50px;
    font-weight: bold;
    border: transparent;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.user_information button:hover {
    opacity: 0.8;
}

.header_right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-basis: 450px;
}
.header_right_top {
    width: 80%;
    height: auto;
    margin: 30px;
    display: flex;
    background-color: #eee;
    border-radius: 20px;
    flex-flow: column;
    align-items: center;
    justify-content: left;
    
}
.header_right_top h2{
    margin: 10px;
}
.header_right_top_support {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}
.header_right_top_left {
    width: 40%;
    height: 170px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #000;
    overflow: hidden;
}
.header_right_top_left_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header_right_top_left_img div {
    width: 100%;
    height: 100%;
    background-image: url('Icons/grocery.png');
    background-size: cover;
    background-position: center;
}
.header_right_top_left_img:hover div {
    background-image: url('Icons/grocery.gif');
}
.header_right_top_right {
    width: 40%;
    height: 170px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #000;
    overflow: hidden;
}
.header_right_top_right_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_top_right_img p {
    width: 100%;
    height: 100%;
    margin: 10px;
    text-align: center;
}

.header_right_bottom {
    width: 80%;
    height: auto;
    margin: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
}
.header_right_bottom h2 {
    margin: 10px;
}
.header_right_bottom_support {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.header_right_bottom_left {
    width: 40%;
    height: 170px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #000;
    overflow: hidden;
}
.header_right_bottom_right {
    width: 50%;
    height: 170px;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: column;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #000;
}
.header_right_bottom_right h3 {
    margin: 10px 0 0 0;
}
.header_right_bottom_right p {
    text-align: center;
    margin: 5px;
}
.header_right_bottom_left_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header_right_bottom_left_img div {
    width: 100%;
    height: 100%;
    background-image: url('Icons/supermarket.png');
    background-size: cover;
    background-position: center;
}
.header_right_bottom_left_img div:hover {
    background-image: url('Icons/supermarket.gif');
}

@media (max-width: 500px) {
    .header{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px 0;
    }
    .header_left, .header_right {
        width: 360px;
    }
    .user_information, .header_right_top, .header_right_bottom {
        width: 98%;
        margin: 10px 0 10px 0;
    }
    .header_right_top_support, .header_right_bottom_support  {
        margin: 0 0 10px 0;
        flex-wrap: wrap;
    }
    .header_right_top_left, .header_right_top_right, .header_right_bottom_left, .header_right_bottom_right{
        flex-basis: 190px;
        margin: 20px;
    }
    .user_information p {
        font-size: 12px;
    }
    .user_information h1 {
        font-size: 18px;
    }
    .user_information h4 {
        font-size: 14px;
    }
    .user_information h3 {
        font-size: 14px;
        margin: 20px;
    }
    .header_left_img {
        width: 150px;
        height: 150px;
    }
}